# exports
export/

# visual studio code specific direcories
.vscode/

# scrapped stuff that i dont wanna share
scrapped/

# windows/macos bloat
.DS_Strore
desktop.ini

# vegas pro... i guess waveform data?
*.sfk

# sublime proects
*.sublime-project
*.sublime-workspace

# fl scores (for sniff becauoifhdco9uihgqwuo9dhgiwhdoui hji)
*.fsc

# git version stuff
.tmp.ple.version

# fl temp stuff
*.zip~
*.flp~
